<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Potwierdź chęć usunięcia</h5>
            </div>
            <div class="modal-body">
                <p class="text-start">Czy jesteś pewien, że chcesz usunąć?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary unwrappable" data-bs-dismiss="modal" id="btnNo">Nie</button>
                <button type="button" class="btn btn-primary unwrappable" data-result="yes" id="btnYes">Tak</button>
            </div>
        </div>
    </div>
</div>
