<div
    class="modal fade"
    id="staticBackdrop"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="staticBackdropLabel"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title"
                    id="staticBackdropLabel"
                >
                    {{'Confirm deleting'|trans({}, 'Form')}}
                </h5>
            </div>
            <div class="modal-body">
                <p class="text-start">{{'Are you sure you want to delete?'|trans({}, 'Form')}}</p>
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-secondary unwrappable"
                    id="btnNo"
                    type="button"
                    data-bs-dismiss="modal"
                >
                    {{'No'|trans({}, 'Form')}}
                </button>
                <button
                    class="btn btn-primary unwrappable"
                    id="btnYes"
                    type="button"
                    data-result="yes"
                >
                    {{'Yes'|trans({}, 'Form')}}
                </button>
            </div>
        </div>
    </div>
</div>
