{% extends 'main.html.twig' %}

{% block title %}Drużyny{% endblock %}

{% block main_content %}
    <div class="mb-3">
        <table class="dataTable table table-hover table-responsive" id="teams-list">
            <thead>
                <tr>
                    <th>L.p.</th>
                    <th class="s">Nazwa</th>
                    <th class="s">Klub</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
