{% extends 'main.html.twig' %}

{% block title %}Drużyny{% endblock %}

{% block main_content %}
    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::DELETE_BATCH')) %}
        {{ include('team/_delete_batch_form.html.twig') }}
    {% endif %}

    <div class="mb-3">
        <table class="dataTable table table-hover table-responsive" id="teams-list">
            <thead>
                <tr>
                    <th>L.p.</th>
                    <th><input type="checkbox" id="checkbox_teams_all" class="form-check-input"></th>
                    <th>Nazwa</th>
                    <th>Klub</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>L.p.</th>
                    <th></th>
                    <th class="s">Nazwa</th>
                    <th class="s">Klub</th>
                    <th>Akcje</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
