{{ include('form/delete_confirmation.html.twig') }}
<form
    class="d-md-inline-block align-middle mb-3"
    action="{{ path('match_game_delete_batch') }}"
    method="post"
    id="match-games-delete-batch"
    data-confirmation="true"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
>
    {{ include('match_game/_button/delete.html.twig', {
        csrfName: 'match_game_delete_batch',
        btnId: 'match-games-delete-batch-btn',
    }) }}
</form>
