<a
    class="btn btn-outline-secondary icon-cancel"
    href="{{ path(path|default('teams_list')) }}"
    role="button"
    title="{{'Go back to the list'|trans({}, 'Team')}}"
>
    {{text|default('Cancel')|trans({}, 'Team')}}
</a>
