<form
    action="{{ path('user_deactivate', {'user_id': user.id}) }}"
    class="d-none d-md-inline-block form-inline ms-auto my-2 my-md-0"
    method="post"
>
    {{ include('user/_datatable/deactivate.html.twig', {csrfName: 'user_deactivate'}) }}
</form>
