{% extends 'main.html.twig' %}

{% block title %}{{'Profile'|trans({}, 'User')}}{% endblock %}

{% block mainContent %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'Username'|trans({}, 'User')}}</th>
                <td>{{ user.username }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
