{% extends 'main.html.twig' %}

{% block title %}Sędziowie{% endblock %}

{% block main_content %}
    {{ include('person/_types_buttons.html.twig') }}

    {% if is_granted(constant('\\App\\Security\\Voter\\RefereeVoter::CREATE')) %}
        {{ include('buttons/add.html.twig', {path: 'referee_create', parameters: {}, text: 'Dodaj nowego'}) }}
    {% endif %}

    <div class="mb-3">
        <table class="dataTable table table-hover table-responsive" id="referees-list">
            <thead>
                <tr>
                    <th>L.p.</th>
                    <th class="s">Nazwisko i imię</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
