<a
    href="{{ path(path|default('match_games_list')) }}"
    class="btn btn-outline-secondary icon-cancel"
    title="{{'Go back to the list'|trans({}, 'MatchGame')}}"
>
    {{text|default('Cancel')|trans({}, 'MatchGame')}}
</a>
