<input
    name="_token"
    type="hidden"
    value="{{csrf_token(csrfName)}}"
>
<button
    class="btn btn-danger btn-sm icon-delete"
    type="submit"
>
    {{'Delete'|trans({}, 'GameType')}}
</button>
