<a
    class="btn btn-outline-secondary icon-cancel"
    href="{{ path(path|default('game_types_list')) }}"
    role="button"
    title="{{'Go back to the list'|trans({}, 'GameType')}}"
>
    {{text|default('Cancel')|trans({}, 'GameType')}}
</a>
