<a
    href="{{ path(path|default('people_list')) }}"
    class="btn btn-outline-secondary icon-cancel"
    title="{{'Go back to the list'|trans({}, 'Person')}}"
>
    {{text|default('Cancel')|trans({}, 'Person')}}
</a>
