{{ include('form/delete_confirmation.html.twig') }}
<form
    action="{{ path('person_delete', {'person_id': person.id}) }}"
    class="d-none d-md-inline-block form-inline ms-auto my-2 my-md-0"
    method="post"
    data-confirmation="true"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
>
    {{ include('person/_button/delete.html.twig', {csrfName: 'person_delete'}) }}
</form>
