{{ include('form/delete_confirmation.html.twig') }}
<form class="d-none d-md-inline-block form-inline ms-auto my-2 my-md-0" action="{{ path('match_game_bill_delete', {'match_game_id': matchGameBill.matchGame.id, 'match_game_bill_id': matchGameBill.id}) }}" method="post" data-confirmation="true" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    {{ include('buttons/delete'~(btn_size is defined ? '_'~ btn_size : '')~'.html.twig', {csrf_name: 'match_game_bill_delete'}) }}
</form>
