<a
    class="btn btn-outline-secondary icon-cancel"
    href="{{ path(path|default('clubs_list')) }}"
    title="{{'Go back to the list'|trans({}, 'Club')}}"
    role="button"
>
    {{text|default('Cancel')|trans({}, 'Club')}}
</a>
