{{ include('form/delete_confirmation.html.twig') }}
<form
    action="{{ path('game_type_delete_batch') }}"
    class="d-md-inline-block align-middle mb-3"
    id="game-types-delete-batch"
    method="post"
    data-confirmation="true"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
>
    {{ include('game_type/_button/delete.html.twig', {
        csrfName: 'game_type_delete_batch',
        btnId: 'game-types-delete-batch-btn',
    }) }}
</form>
