{{ include('form/delete_confirmation.html.twig') }}
<form class="d-md-inline-block align-middle mb-3" action="{{ path('game_type_delete_batch') }}" method="post" id="game-types-delete-batch" data-confirmation="true" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    {{ include('buttons/delete'~(btn_size is defined ? '_'~ btn_size : '')~'.html.twig', {csrf_name: 'game_type_delete_batch', btn_id: 'game-types-delete-batch-btn'}) }}
</form>
