{% extends 'main.html.twig' %}

{% block title %}Typy rozgrywek{% endblock %}

{% block main_content %}
    {% if is_granted(constant('\\App\\Security\\Voter\\GameTypeVoter::CREATE')) %}
        {{ include('buttons/add.html.twig', {path: 'game_type_create', parameters: {}, text: 'Dodaj nowy'}) }}
    {% endif %}
    {% if is_granted(constant('\\App\\Security\\Voter\\GameTypeVoter::DELETE_BATCH')) %}
        {{ include('game_type/_delete_batch_form.html.twig') }}
    {% endif %}

    <div class="mb-3">
        <table class="dataTable table table-hover table-responsive" id="game-types-list">
            <thead>
                <tr>
                    <th>L.p.</th>
                    <th><input type="checkbox" id="checkbox_gameTypes_all" class="form-check-input"></th>
                    <th class="s">Nazwa</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
