<a
    class="btn btn-outline-secondary icon-cancel"
    href="{{ path('match_game_single', {'match_game_id': matchGameId}) }}"
    role="button"
    title="{{'Go back to match game details'|trans({}, 'MatchGameBill')}}"
>
    {{text|default('Go back to match game details')|trans({}, 'MatchGameBill')}}
</a>
