<a
    class="btn btn-primary icon-download"
    href="{{ path(path, {'match_game_id': matchGameId, 'match_game_bill_id': matchGameBillId}) }}"
    role="button"
>
    {{text|default('Download as XLSX')|trans({}, 'MatchGameBill')}}
</a>
