<a
    class="btn btn-outline-secondary icon-edit"
    href="{{ path('match_game_bill_edit', {'match_game_id': matchGameId, 'match_game_bill_id': matchGameBillId}) }}"
    role="button"
>
    {{'Edit'|trans({}, 'MatchGameBill')}}
</a>
