<form class="d-md-inline-block align-middle mb-3" action="{{ path('user_activate_batch') }}" method="post" id="users-activate-batch">
    {{ include('buttons/activate.html.twig', {csrf_name: 'user_activate_batch', btn_id: 'users-activate-batch-btn'}) }}
</form>
