<form
    action="{{ path('user_activate_batch') }}"
    class="d-md-inline-block align-middle mb-3"
    id="users-activate-batch"
    method="post"
>
    {{ include('user/_button/activate.html.twig', {
        csrfName: 'user_activate_batch',
        btnId: 'users-activate-batch-btn',
    }) }}
</form>
