<form
    action="{{ path('user_deactivate_batch') }}"
    class="d-md-inline-block align-middle mb-3"
    id="users-deactivate-batch"
    method="post"
>
    {{ include('user/_button/deactivate.html.twig', {
        csrfName: 'user_deactivate_batch',
        btnId: 'users-deactivate-batch-btn',
    }) }}
</form>
