<form class="d-none d-md-inline-block form-inline ms-auto my-2 my-md-0" action="{{ path('user_deactivate', {'user_id': user.id}) }}" method="post">
    {{ include('buttons/deactivate'~(btn_size is defined ? '_'~ btn_size : '')~'.html.twig', {csrf_name: 'user_deactivate'}) }}
</form>
