{{ include('form/delete_confirmation.html.twig') }}
<form
    action="{{ path('user_delete_batch') }}"
    class="d-md-inline-block align-middle mb-3"
    id="users-delete-batch"
    method="post"
    data-confirmation="true"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
>
    {{ include('user/_button/delete.html.twig', {
        csrfName: 'user_delete_batch',
        btnId: 'users-delete-batch-btn',
    }) }}
</form>
